@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Implementando tecnologias ASP.NET framework para manejar informacion y sesiones de diferentes niveles</p>

<h1>¿Sabias que...?</h1>
<p>Existen 10 tipos de personas las que saben binario y las que no :D</p>
