@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>gitHub:</strong>   <a href="https://github.com/AdilsonAr">github.com/AdilsonAr</a><br />
    <strong>e-mail:</strong> <a href="mailto:adilson.arbuez18@itca.edu.sv">adilson.arbuez18@itca.edu.sv</a><br />
    <strong>linkedin:</strong> <a href="https://www.linkedin.com/in/adilsonar/">linkedin.com/in/adilsonar/</a>
</address>