@{
    ViewBag.Title = "Home Page";
}

<h1>Bienvenido a mi página!</h1>

<div class="alert alert-success" role="alert">
    @if (!string.IsNullOrEmpty(ViewBag.isAuth))
    {
        <p>...</p>
    }
    else
    {
        <p>Ahora es momento de <a href="/Home/Login" class="alert-link">iniciar sesión</a> para ver todo el potencial de la aplicación!</p>
    }

</div>

